@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:ital,wght@0,400;0,500;1,500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	font-size: 16px;
	scroll-behavior: smooth;
}

@media (max-width: 1024px) {
	html {
		font-size: 13px;
	}
}

.container {
	@apply px-4 lg:px-12;
}
.inter {
	font-family: 'Inter', sans-serif;
}
body {
	@apply text-base antialiased leading-relaxed text-primary-black -tracking-13px;
	font-family: 'Inter', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
	font-family: 'Montserrat', sans-serif;
	@apply -tracking-1.44px;
}
h1 {
	@apply text-4xl;
}

h2 {
	@apply text-5xl;
}

h3 {
	@apply text-lg lg:text-28px;
}

h4 {
	@apply text-lg lg:text-xl;
}

.btn-one {
	@apply border-solid border-primary-200 hover:bg-primary-white hover:text-primary-200 transition-all border rounded-full bg-primary-200 text-primary-white py-3 px-6 inline-flex items-center justify-center w-fit;
}
.btn-two {
	@apply border-solid border-primary-200 hover:bg-primary-black transition-all hover:text-primary-white border rounded-full bg-transparent text-primary-200 py-3 px-6 inline-flex items-center justify-center w-fit;
}
.btn-two svg {
	@apply transition-all;
}
.btn-two:hover svg {
	@apply rotate-45;
}
.btn-two:hover svg path {
	@apply fill-primary-white;
}
:focus-visible {
	@apply outline-none border-primary-200;
}
