@import './base.css';
@import './menu.css';

body.overlay {
	@apply transition-all;
}
body.overlay:after {
	content: '';
	@apply hidden lg:block bg-primary-black min-h-screen h-full w-full absolute top-[68px] z-[1] transition-all;
	animation: opacity 0.3s linear forwards;
}
body {
	@apply relative;
}
/* -------------------------------------------------------------------------- */
/*                                    HERO                                    */
/* -------------------------------------------------------------------------- */
.swiper-slide-active .animation-hero-left-col:after {
	content: '';
	transform: translate(0, -50%);
	animation: animationHero 1s linear forwards;
	@apply min-w-full min-h-full w-full lg:w-[50vw] h-auto absolute top-1/2 left-0 lg:left-1/2 bg-primary-100 -z-10;
}

.swiper-button-prev:after,
.swiper-button-next:after {
	@apply hidden;
}
.swiper-button-next,
.swiper-button-prev {
	@apply hover:!bg-primary-200 transition-all;
}
.swiper-button-next:hover svg path,
.swiper-button-prev:hover svg path {
	@apply fill-primary-white;
}
/* -------------------------------------------------------------------------- */
/*                                     s1                                     */
/* -------------------------------------------------------------------------- */
.link-hover:hover svg {
	@apply !ml-4;
}
.link-hover:after {
	content: '';
	@apply w-full absolute bg-primary-200 h-[1px] -bottom-1 left-0;
}
.box-hover:hover {
	box-shadow: 0 22px 43px rgba(0, 0, 0, 0.15);
	@apply lg:translate-y-1;
}

/* -------------------------------------------------------------------------- */
/*                                     s2                                     */
/* -------------------------------------------------------------------------- */
.s2:before {
	content: '';
	transform: translateY(-50%);
	@apply absolute top-1/2 -left-1/2 h-auto min-h-full w-[50vw] min-w-full bg-primary-200 z-[1];
}
[data-aos='example-anim1'].aos-animate:before {
	content: '';
	transform: translateY(-50%);
	animation: animationSection 1s linear forwards;
	@apply absolute top-1/2 left-0 lg:-left-1/2 h-auto min-h-full w-full lg:w-[50vw] min-w-full bg-primary-200 z-[1];
}

/* -------------------------------------------------------------------------- */
/*                                     s3                                     */
/* -------------------------------------------------------------------------- */
#macy-container.masonyOverlay:after {
	content: '';
	@apply absolute bottom-0 w-full h-[40%] pointer-events-none;
	background: linear-gradient(360deg, #dcc1ab 9%, rgba(214, 183, 158, 0) 100%);
}

/* -------------------------------------------------------------------------- */
/*                                   footer                                   */
/* -------------------------------------------------------------------------- */
footer a {
	@apply hover:underline;
}

/* -------------------------------------------------------------------------- */
/*                                 Animations                                 */
/* -------------------------------------------------------------------------- */
@media screen(lg) {
	@keyframes animationSection {
		0% {
			@apply -left-1/2;
		}
		100% {
			left: 50%;
			@apply left-1/2;
		}
	}
	@keyframes animationHero {
		0% {
			@apply left-1/2;
		}
		100% {
			@apply -left-1/2;
		}
	}
	@keyframes opacity {
		0% {
			@apply opacity-0;
		}

		100% {
			@apply opacity-50;
		}
	}
}
