#site-navigation.toggled ul li:hover ul {
	@apply !flex flex-col;
}
#site-navigation.toggled ul li ul {
	@apply !hidden pl-10px;
}
#site-navigation.toggled ul {
	@apply block !important;
}
#site-navigation li a {
	@apply text-lg lg:text-sm px-6 lg:px-0 my-2 lg:my-0 lg:py-0 flex;
}
#site-navigation li.current-menu-item a {
	@apply bg-black bg-opacity-5 lg:bg-transparent rounded lg:rounded-none;
}
header nav ul li .menu-item-has-children a:after {
	@apply hidden;
}
.menu-item-has-children:hover:after {
	@apply rotate-180;
}
.menu-item-has-children a:after {
	content: '';
	@apply transition-all w-[8px] h-[5px] ml-[.4375rem] block bg-no-repeat;
	background-image: url("data:image/svg+xml,%3Csvg width='8' height='5' viewBox='0 0 8 5' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.130175 0.81427C-0.0433916 0.640703 -0.0433916 0.359297 0.130175 0.18573C0.287962 0.0279427 0.534874 0.0135984 0.708866 0.142697L0.758714 0.18573L4 3.42681L7.24129 0.18573C7.39907 0.0279427 7.64599 0.0135984 7.81998 0.142697L7.86983 0.18573C8.02761 0.343518 8.04196 0.59043 7.91286 0.764422L7.86983 0.81427L4.31427 4.36983C4.15648 4.52761 3.90957 4.54196 3.73558 4.41286L3.68573 4.36983L0.130175 0.81427Z' fill='%23111111'/%3E%3C/svg%3E%0A");
}
.menu-item-has-children a {
	@apply flex items-center;
}
@media screen(lg) {
	header nav ul li ul {
		@apply flex pointer-events-none z-50 top-0 left-0 absolute opacity-0 transition-all;
	}
	header nav ul li:hover ul {
		@apply opacity-100 pointer-events-auto;
	}
	header nav ul li ul li {
		@apply w-[calc(33.333%_-_7px)] 2xl:w-1/3 relative font-semibold !block;
	}
	header nav ul li {
		@apply py-6;
	}
	header nav ul li ul li {
		@apply p-0;
	}
	header nav ul li ul {
		@apply w-full min-w-[43.75rem] left-0 gap-10px;
	}
	header nav ul li ul li ul {
		@apply w-full flex-wrap !mt-4 !relative left-0 gap-0;
	}
	header nav ul li ul li ul li {
		@apply w-full text-base font-normal;
	}
	.menu-item-has-children ul {
		box-shadow: 9px 11px 29px rgba(125, 138, 152, 0.15);
		@apply rounded-md p-8 mt-16 bg-white flex-wrap 2xl:flex-nowrap;
	}
	.menu-item-has-children ul li ul {
		@apply shadow-none p-0 min-w-min mt-0 gap-y-6px flex-col;
	}
}
